{{> common/header }}
    <form action="/login" method="post">
        <label for="name">{{fluent "fur_name"}}</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="lpassword">{{fluent "fur_password"}}</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
{{> common/footer }}parsed_hash