<!DOCTYPE html>
<html>
    <head>
    <title>Warp Handlebars template example for {{user}}</title>
    </head>
    <body>
        <div class="menu">
            <ul>
                <il>
                    <a href="/">Home</a>
                </il>
                <il>
                    <a href="/loutre">Loutre</a>
                </il>
            </ul>
        </div>